<ul class="list list-borderless u-ulList" ng-repeat="item in items">
	<li class="item item-avatar-left">
		<img ng-src="{{item.profile_image}}">
		<h2 class="u-username">{{item.name}}</h2>
		<p>{{item.create_time}}</p>
	</li>
	<li class="item item-text-wrap ">
		<p class="u-text">{{item.text}}</p>
	</li>
	<li class="item u-btn">
		<button class="button button-clear button-positive icon ion-thumbsup icon-left">{{item.love}}</button>
	 		<button class="button button-clear button-positive icon ion-thumbsdown icon-left">{{item.hate}}</button>
		<button class="button button-clear button-positive icon ion-share icon-left">12</button>
		<button class="button button-clear button-positive icon ion-chatbox icon-left">1</button>
	</li>
</ul>

		
<!-- 	<ul class="list list-borderless u-ulList">
			<li class="item item-avatar-left">
				<img src="img/img7.jpg">
				<h2 class="u-username">愤怒的小飞机</h2>
				<p>2016-11-07 13:56:02</p>
			</li>
			<li class="item item-text-wrap ">
				<p class="u-text">
    小学的时候，每次考不好总被爸爸打。一天成绩单拿回家，爸爸无奈的说：“我实在是不想打你了，今天想跟你讲讲道理……”。正当我暗自庆幸的时候，同村一个同学鼻青脸肿的来约我上学，老爸惊问：“你也沒考好？”同学难过的说：“数学只考了99分，感觉对不起在外打工的爸爸，自己揍了自己一顿。”老爸沉默了一会，默默的抄起了最大的棍子……
  </p>
			</li>
			<li class="item u-btn">
				<button class="button button-clear button-positive icon ion-thumbsup icon-left">1313</button>
       	 		<button class="button button-clear button-positive icon ion-thumbsdown icon-left">123</button>
        		<button class="button button-clear button-positive icon ion-share icon-left">12</button>
        		<button class="button button-clear button-positive icon ion-chatbox icon-left">1</button>
			</li>
		</ul> -->

